.title,
.founders,
.employees {
  margin: 0 10px;
}

.main_subtitle {
  margin: 0px auto;
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
}

.history,
.founders,
.employees {
  width: calc(100vw - 20px);
  max-width: 660px;
  margin: 0 auto;
}

.history_title,
.founders_title,
.employees_title {
  margin-top: 50px;
  font-size: 32px;
  line-height: 54px;
  font-weight: bold;
}

.employees_title {
  margin-top: 70px;
}

.founders_subtitle,
.employees_subtitle {
  margin-top: 30px;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.founders_subtitle:nth-of-type(2),
.employees_subtitle:nth-of-type(2) {
  margin-top: 50px;
}

.employees_text:nth-of-type(2) {
  margin-bottom: 50px;
}

ul li,
.history_text,
.founders_text,
.employees_text {
  margin-top: 30px;
  font-size: 19px;
  line-height: 32px;
}

.founders_img {
  position: relative;
  margin: 60px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.founder {
  position: relative;
  margin-top: 30px;
  width: 112px;
  height: 112px;
  border-radius: 50%;
}

.founder[name="fry"] {
  background: url('../img/fry.png') no-repeat;
}

.founder[name="bender"] {
  background: url('../img/bender.png') no-repeat;
}

.founder[name="bender"]:before {
  position: absolute;
  bottom: -5px;
  left: -6px;
  content: "";
  display: block;
  width: 123px;
  height: 149px;
  background: url('../img/bender_hover.png') no-repeat;
}

.founder[name="skraffi"] {
  background: url('../img/skraffi.png') no-repeat;
}

.founder[name="slizen"] {
  background: url('../img/slizen.png') no-repeat;
}

.founder[name="calculon"] {
  background: url('../img/calculon.png') no-repeat;
}

.founder[name="zapp"] {
  background: url('../img/zapp.png') no-repeat;
  border: 1px solid #cccccc;
}

@font-face {
  font-family: Alsfuchsia;
  src:  local("Alsfuchsia"),
        url("../fonts/alsfuchsia/alsfuchsia.otf");
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
  position: relative;
  padding-left: 25px;
}

ul li:before {
    content:  "— ";
    position: absolute;
    left: 0;
}

.incut {
  padding: 50px 0px;
  font-family: "alsfuchsia";
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  display: block;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
}

footer {
  margin-top: 30px;
}

@media (width >= 320px) {
  .founders_img:before,
  .founders_img:after {
    content: '';
    width: 100%;
    order: 1;
  }

  .founder:nth-child(n + 3) {
    order: 1;
  }

  .founder:nth-child(n + 5) {
    order: 2;
  }
}

@media (width >= 480px) {
  .founder:nth-child(n + 3) {
    order: 0;
  }

  .founder:nth-child(n + 4) {
    order: 1;
  }
}

@media (width >= 880px) {
  .main_subtitle {
    font-size: 32px;
    line-height: 48px;
  }

  .founder:nth-child(n + 4) {
    order: 0;
  }
}

@media (width >= 1366px) {
  .founders_img {
    width: 1346px;
    margin-left: auto;
    margin-right: @margin-left;
  }
}