#book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: @margin-left;
  flex-wrap: wrap;
  max-width: 1326px;
}

.book_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eye {
  display: none;
}

.book_image {
  background-color: #faf4ee;
  width: 87.5vw;
  max-width: 420px;
  height: auto;
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, .6);
}

.book_descrition {
  margin-top: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  width: 300px;
}

.book_descrition > strong {
  color: #fc5454;
}

.book_review,
.book_advantage {
  display: flex;
  flex-direction: column;
}

.book_review_item,
.book_advantage_item {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-left: auto;
  margin-right: @margin-left;
}

.book_review_item > p,
.book_advantage_item > p {
  position: relative;
  margin-top: 25px;
  font-size: 21px;
  line-height: 32px;
}

.book_review_item > p:before,
.book_review_item > p:after {
  position: absolute;
  font-size: 38px;
}

$quote_x: -20px;
$quote_y: -4px;
.book_review_item > p:before {
  content: "«";
  left: $quote_x;
  top: $quote_y;
}
.book_review_item > p:after {
  content: "»";
  right: $quote_x;
  bottom: calc(6px + $quote_y);
}

.btn {
  align-self: center;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(#855987, #613c63);
  padding: 30px 0;
  color: #fff;
  width: 300px;
  font-size: 2rem;
  border-radius: 12px;
  margin: 60px auto 30px;
  box-shadow: 0px 20px 40px 0px #000;
  border: none;
}

.btn:hover {
  background: linear-gradient(#c28dc5, #49274b);
  color: #fff;
}

.btn:active {
  background: linear-gradient(#865888, #623a64);
  box-shadow: 0px 5px 10px 0px #000;
  color: #fff;
}

.btn span {
  display: block;
}

.skraffi {
  text-align: center;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 80px;
}

.skraffi span {
  display: block;
  width: 300px;
  color: #dcdcdc;
  font-style: italic;
}

.skraffi img {
  margin-top: 10px;
  width: 70px;
  height: auto;
}

@media (width >= 500px) {
  .book_item {
    position: relative;
  }

  .eye {
    display: block;
    position: absolute;
    top: 315px;
    left: calc(50% - 66px);
    width: 132px;
    height: @width;
    background-color: black;
    border: 3px solid black;
    border-radius: 50%;
  }

  .eyelid {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    background: white;
    border-radius: inherit;
    animation-name: blink;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }

  .pupil {
    position: absolute;
    top: 53px;
    left: @top;
    width: 26px;
    height: @width;
    background: black;
    border-radius: inherit;
  }

  .anim {
    animation-play-state: paused;
  }  
}

@media (width >= 1200px) {
  #book {
    flex-direction: row;
  }

  .book_review {
    order: -1;
  }
  .book_advantage {
    order: 1;
  }

  #book:after {
    content: "";
    order: 1;
    width: 100%;
  }

  .btn {
    order: 2;
    width: 440px;
  }

  .btn span {
    display: inline-block;
  }

  .skraffi span {
    width: 420px;
  }
}

@keyframes blink {
  from, to {
    border-radius: 50% / 50%;
    top: 0;
    height: 132px;
  }
  50% {
    border-radius: 50% / 15%;
    top: 66px;
    height: 0;
  }
}