:root {
  --def_font-family: "Arial";
}

.x {
  border: 1px solid #886622;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: var(--def_font-family);
  display: flex;
  flex-direction: column;
  margin: 0;
}

img {
  vertical-align: middle;
  border: 0;
}

.top_panel {
  width: calc(100vw - 40px);
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  white-space: nowrap;
  line-height: 14px;
  flex-basis: 312px;
}

.logo img {
  margin-right: 5px;
  height: 100%;
  width: auto;
}

.flex {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.brand_title {
  font-size: .95rem;
  color: #4c4c4c;
}

.brand_subtitle {
  margin-top: 8px;
  font-size: 1.17rem;
  font-weight: bold;
}

.placeholder {
  position: relative;
  height: 30px;
  border: 1px solid #b2b2b2;
  border-radius: 15px;
  box-shadow: inset 0px 0px 4px 0px #bfbfbf;
  box-sizing: border-box;
  overflow: hidden;
}

.placeholder::before {
    content: "";
    position: absolute;
    left: 1px;
    height: 30px;
    width: 30px;
    background: url('../img/loope.png') center no-repeat;
}

.search {
  position: relative;
  display: flex;
  flex-basis: 312px;
}

.search > div:first-child {
  flex-grow: 1;
  margin-right: 5px;
}

.search input[type='text'] {
  position: absolute;
  top: 5px;
  left: 32px;
  width: auto;
  font-size: 14px;
  background: transparent;
  border: none;
  z-index: 1;
}

.search label {
    position: absolute;
    top: 6px;
    left: 32px;
    font-size: 14px;
    color: #bfbfbf;
    transition: 0.2s ease all;
    pointer-events: none;
    white-space: nowrap;
}

.search input:focus ~ .placeholder label,
.search input:valid ~ .placeholder label {
    opacity: 0;
}

.search input:focus {
  outline:none;
}

.enter {
  background: url('../img/enter.png') center no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main_title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 38px;
  line-height: 46px;
  font-weight: bold;
  margin-left: auto;
  margin-right: @margin-left;
}

.main_subtitle {
  display: none;
}

.btn {
  order: 1;
  padding: 15px 0px;
  width: 280px;
  text-align: center;
  font-size: 17px;
  color: #95c1e5;
  border: 3px solid @color;
  border-radius: 8px;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn:hover {
 color: #e51907;
 border-color: @color;
}

#list_book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}

#list_book:after {
  content: "";
  width: 100%;
}

.book {
  flex-basis: 280px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.book_mini-cover {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .6);
}

.book_mini-cover:hover,
.book_info:hover {
  cursor: pointer;
}

.book:hover u {
  color: #e51907;
}

.book_info {
  margin-top: 30px;
  font-size: 18px;
  color: #222222;
}

.book_info u {
  color: #4283c0;
}

footer:before {
  flex-grow: 1;
}

footer {
  position: relative;
  margin: auto;
}

footer .logo {
  position: absolute;
  left: 30px;
  top: 18px;
  line-height: 12px;
}

footer .logo img {
  margin-top: 1px;
  margin-right: 3px;
  height: 28px;
}

footer .brand_title {
  font-size: .8rem;
}

footer .brand_subtitle {
  margin-top: 6px;
  font-size: 1rem;
}

footer .logo {
  pointer-events: none;
}

@media (width >= 632px) {
  .flex {
    margin-bottom: auto;
  }

  .top_panel {
    margin: 60px auto;
    flex-wrap: nowrap;
  }

  .logo {
    flex-grow: 1;
  }
}

@media (width >= 800px) {
  #list_book {
    width: 800px;
  }

  .main_title {
    font-size: 72px;
    line-height: 84px;
    max-width: 1200px;
  }

  .main_subtitle {
    margin: 30px auto 50px;
    display: block;
    max-width: 880px;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
  }
}

@media (width >= 1120px) {
  #list_book {
    width: 1120px;
  }
}


@media (width >= 1366px) {
  .top_panel,
  #list_book {
    width: 1326px;
  }
}