#order {
  width: 300px;
  align-self: center;
}

#order header {
  font-size: 1.4rem;
}

header {
  margin-bottom: 40px;
}

header u {
  color: blue;
}

form.order {
  display: flex;
  flex-direction: column;
}

.column {
  margin-top: 40px;
}

.column:nth-child(3) {
  margin-top: 0;
  order: -1;
}

#order label {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

#order input {
  width: 294px;
  font-size: 18px;
  border: 2px solid black;
}

#order input[type='radio'] {
  display: none;
}

#order label[for^="radio_delivery-"],
#order label[for^="radio_payment-"] {
    vertical-align: middle;
}

#order label[for^="radio_delivery-"]::before,
#order label[for^="radio_payment-"]::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 8px;
    vertical-align: middle;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #000;
}

#order input:checked + label::before {
    background: #000;
}

#order label[for='adress'],
#order input[name='adress'] {
  display: none;
}

#order input[name='adress'] {
  padding: 8px 0;
}

#order input:disabled + label {
  color: #ecf0f1;
}

#order input:disabled + label::before {
    box-shadow: 0 0 0 3px #ecf0f1;
}

#order label[for^="radio_delivery-"]:hover,
#order label[for^="radio_payment-"]:hover {
  cursor: pointer;
  font-weight: bold;
}

#order textarea {
  width: 294px;
  height: 135px;
  font-size: 18px;
  border: 2px solid black;
  resize: none;
}

.column img {
  width: 300px;
  height: auto;
}

.total {
  width: 100%;
  text-align: center;
  font-size: 36px;
}

.button {
  margin: 10px auto 50px;
}

body {
  min-height: 100vh;
}

#status {
  flex-grow: 1;
  text-align: center;
  font-size: 3rem;
}

@media (width >= 837px) {
  #order {
    width: 817px;
  }

  #order header {
    font-size: 2.1rem;
  }

  .column {
    align-self: center;
  }
}

@media (width >= 1366px) {
  #order {
    width: 1080px;
  }

  #order header {
    font-size: 2.1rem;
  }

  form.order {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .column {
    margin-top: 0;
    width: 30%;
  }

  .column:nth-child(3) {
    order: 0;
  }
}